logs/dag_id=smb/run_id=manual__2024-12-17T213311.681146+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T215059.351989+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T215411.306628+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T220154.112353+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T220544.382536+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T220736.236649+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T221153.962263+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T221251.377763+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T221256.192588+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T221339.935058+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T221535.612204+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T222126.565878+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T222716.386183+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T222819.437611+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T223935.476668+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T235204.113889+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T235435.630878+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T235518.828930+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T235855.703539+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-17T235855.703539+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T000953.786997+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T000953.786997+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T000953.786997+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001226.326832+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001226.326832+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001226.326832+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001422.485774+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001422.485774+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001422.485774+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001705.026786+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001705.026786+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001705.026786+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001818.483402+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001818.483402+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T001818.483402+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T020511.220232+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T020511.220232+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-18T020511.220232+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T020840.763832+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T020840.763832+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T020840.763832+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T020840.763832+0000/task_id=proc_send_stage_statistic/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_dim_activity_code_main_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_dim_address_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_dim_category_type_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_dim_geo_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_dim_organization_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_dim_year_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021102.495775+0000/task_id=proc_send_stage_statistic/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_dim_activity_code_main_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_dim_address_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_dim_category_type_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_dim_geo_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_dim_organization_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_dim_year_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_fact_smb_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T021916.091586+0000/task_id=proc_send_stage_statistic/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_dim_activity_code_main_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_dim_address_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_dim_category_type_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_dim_geo_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_dim_organization_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_dim_year_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_fact_smb_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022136.803946+0000/task_id=proc_send_stage_statistic/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_dim_activity_code_main_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_dim_address_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_dim_category_type_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_dim_geo_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_dim_organization_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_dim_year_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_fact_smb_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T022240.218917+0000/task_id=proc_send_stage_statistic/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_dim_activity_code_main_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_dim_address_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_dim_category_type_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_dim_geo_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_dim_organization_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_dim_year_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_empl_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_fact_smb_to_dwh/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_revexp_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=load_smb_to_stage/attempt=1.log
logs/dag_id=smb/run_id=manual__2024-12-20T023755.723938+0000/task_id=proc_send_stage_statistic/attempt=1.log
logs/scheduler/2024-12-14/flats.py.log
logs/scheduler/2024-12-17/flats.py.log
logs/scheduler/2024-12-17/smb.py.log
logs/scheduler/2024-12-18/smb.py.log
logs/scheduler/2024-12-19/smb.py.log
logs/scheduler/2024-12-20/smb.py.log
logs/scheduler/2024-12-21/smb.py.log
logs/scheduler/latest
